.acercaDe .contenido {
  background-color: rgba(0, 0, 0, 0.4);
}

.parent {
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.contenido h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Raleway";
  transition: 0.2s;
}

.acercaDe .parent img {
  /* border-width: 0.3rem;
  border-style: solid; */
  /* border: 5px solid transparent; */
  /* -webkit-border-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#07b897),
    to(#09738d),
    1 100%
  ); */
  padding: 0.3rem;
  background-color: white;

  /* border: 0.3rem solid #07b897; */
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  border-radius: 50%;
  width: 100%;
  transition: 0.2s;
}
.acercaDe .parent:hover img {
  background-color: transparent;
  background-image: linear-gradient(45deg, #07b897, #09738d);
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  border-radius: 10%;
  transition: 0.2s;
}
.acercaDe .parent:hover h2 {
  transition: 0.2s;
  color: #0edbb6 !important;
}
.acercaDe .parent:hover p {
  transition: 0.2s;
  color: white !important;
}

@media only screen and (max-width: 578px) {
  .acercaDe p {
    font-size: 0.8rem;
  }
  .acercaDe h2 {
    font-size: 0.8rem;
  }
}
