.acercaDe .contenido {
  background-color: rgba(0, 0, 0, 0.4);
}

.parent {
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.contenido h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Raleway";
}

.acercaDe .parent img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  border-radius: 50%;
  width: 100%;
  transition: 0.2s;
}
.acercaDe .parent:hover img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  border-radius: 10%;
  transition: 0.2s;
}

.acercaDe .parent:hover {
  transition: 0.2s;
  color: white !important;
}

@media only screen and (max-width: 578px) {
  .acercaDe p {
    font-size: 0.8rem;
  }
  .acercaDe h2 {
    font-size: 0.8rem;
  }
}
