.cardTitle {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

#produccion3d {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.95)
    ),
    url("../../img/categoria/3d.png");
  width: 30rem;
  height: 300px;
  background-size: cover;
}
.cardContainer {
  cursor: pointer;
  direction: flex;
  width: 30rem;
  transition: transform 0.2s;
}

.cardContainer:hover {
  transform: scale(1.04) !important;
}

#desarrollo {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.95)
    ),
    url("../../img/categoria/desarrollo.jpg");
  width: 30rem;
  height: 300px;
  background-size: cover;
}

#produccionAudiovisual {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.95)
    ),
    url("../../img/categoria/produccion.jpg");
  width: 30rem;
  height: 300px;
  background-size: cover;
}

#diseño {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.95)
    ),
    url("../../img/categoria/diseño.jpg");
  width: 30rem;
  height: 300px;
  background-size: cover;
}

@media only screen and (max-width: 575px) {
  .cardSize {
    width: 20rem !important;
  }
  .cardContainer {
    cursor: pointer;
    direction: flex;
    width: 20rem;
    transition: transform 0.2s;
  }
  #produccion3d {
    width: 20rem;
  }
  #desarrollo {
    width: 20rem;
  }
  #produccionAudiovisual {
    width: 20rem;
  }
  #diseño {
    width: 20rem;
  }
}
