.container-fluid {
  /*background-color: #e2effa;
  */
  background-color: rgb(0, 5, 10, 0.85);
}

.parrafo {
  font-size: 1.5rem !important;
}

.titulo {
  padding: 20px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: rgb(220, 220, 220);
  font-weight: bold;
  font-size: 5em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contenido {
  color: rgb(220, 220, 220);
}
.contenido p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .titulo {
    font-size: 3em !important;
  }
}
