.container-fluid {
  /*background-color: #e2effa;
  */
  background-color: rgb(0, 0, 0, 0.8);
}

.titulo {
  color: rgb(220, 220, 220);
  font-weight: bold;
  font-size: 6em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}

.contenido {
  color: rgb(220, 220, 220);
  padding: 20px;
}
.contenido p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .titulo {
    font-size: 3em !important;
  }
}
