nav {
  background-color: #5671bb !important;
}

html {
  scroll-behavior: smooth !important;
}

html,
body {
  overflow-y: hidden;
}

button {
  font-weight: bold !important;
  outline: none !important;
  border: 0 !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  transform: translateX(5px);
}

.nav-link.active {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.3);
}

.brandTitle {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  color: #fff;
}

@media only screen and (min-width: 992px) {
  .my-navbar {
    height: 100vh;
    flex-direction: column;
  }
  .brandContainer {
    margin-top: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .scrollContent {
    margin-left: 20%;
    width: 83.5vw;
  }
  .logo_container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
    vertical-align: middle;
    padding: 20px;
    margin-bottom: 10px;
  }
  .multifolioLogo {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .logo_container {
    width: 30px;
    height: 30px;
    /* padding: 4px; */
    margin: 0 10px;
    border-radius: 50%;
    /*background-color: #fff;*/
    /* background-image: linear-gradient(to bottom right, #447ac0, #07b897); */
    /*background-color: rgba(0, 0, 0, 0.3);*/
    /* margin: 0 10px 10px; */
  }

  .multifolioLogo {
    /* filter: brightness(100); */
    width: 100%;
    height: 100%;
  }
  .scrollContent {
    width: 100%;
  }
  .brandContainer {
    margin-top: 5px;
  }
  .dropdown {
    margin-left: 20px;
  }

  .nav-link {
    padding-left: 20px !important;
  }

  .navbar-brand {
    padding-right: 15px;
    display: flex !important;
    align-items: center;
  }
}
