.input[type="file"] {
  display: none;
}

.input-label {
  width: 100%;
  margin-top: 1rem;
  line-height: 50px;
}

@media only screen and (min-width: 992px) {
  .input-label {
    display: flex;
    justify-content: start;
  }
}

@media only screen and (max-width: 991px) {
  .input-label {
    display: flex;
    justify-content: center;
  }
}
