input[type="text"],
input[type="tel"],
textarea {
  border: 0;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.03);
}
input[type="text"]:hover,
input[type="tel"]:hover,
textarea:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: 0.2s;
}
textarea {
  padding-top: 10px;
}
input[type="text"]:focus,
input[type="tel"]:focus,
textarea:focus,
textarea:focus {
  outline: none;
  background-color: #ffffff;
}
