.container-fluid {
  background-color: #e2effa;
}

.titulo {
  font-weight: bold;
  font-size: 6em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}
.contenido {
  height: 100vh;
  overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
  .titulo {
    font-size: 4em !important;
  }
}
